html,

/**/
body {
    overflow: hidden;
}

label {
    font-size: 35px;
    display: inline-block;
    text-align: right;
    width: 120px;
}

select {
    font-size: 35px;
    width: 35.4%;
    margin: 0.5em 0;
}

input {
    font-size: 35px;
    width: 35%;
    margin: 0.5em 0;
}

.center_form {
    position: relative;
    top: 90px;
}

.Asset_photo_src {
    width: 30%;
    height: auto;
    margin-left: 1100px;
    position: relative;
    bottom: 350px;
}

.Finish_button {
    font-size: 20px;
    margin-left: 1630px;
    position: relative;
    bottom: 270px;
}