html,

/**/
body {
  overflow: hidden;
}

.button-list {
  text-align: center;
  display: flex;
  justify-content: space-around;
  /*ボタンが等間隔に並ぶように調整*/
}

button {
  border: none;
  /*ボタンの枠線を除去*/
  background: transparent;
  /*ボタンの背景を除去*/
  cursor: pointer;
  /*ボタンの上にカーソルがあるときpointerに変更*/
}