#form10 {
	position: relative;
	max-width: 00px;
	margin-bottom: 20px;
}

#sbox10 {
	height: 30px;
	padding: 0 10px;
	position: absolute;
	left: 200;
	top: 58;
	border-radius: 2px;
	outline: 0;
	background: #eee;
}

#sbtn10 {
	height: 50px;
	position: absolute;
	left: 255px;
	/*アイコン左右の位置調整*/
	top: 0;
	background: none;
	color: #666;
	border: none;
	font-size: 20px;
	/*アイコンサイズ*/
}

#sbtn5:hover {
	color: #7fbfff;
}

#form11 {
	position: relative;
	max-width: 300px;
	margin-bottom: 20px;
}

#sbox11 {
	height: 30px;
	padding: 0 10px;
	position: absolute;
	left: 100;
	top: 110;
	border-radius: 2px;
	outline: 0;
	background: #eee;
}

#sbtn11 {
	height: 50px;
	position: absolute;
	left: 255px;
	/*アイコン左右の位置調整*/
	top: 0;
	background: none;
	color: #666;
	border: none;
	font-size: 20px;
	/*アイコンサイズ*/
}

#sbtn5:hover {
	color: #7fbfff;
}


#form12 {
	position: relative;
	max-width: 300px;
	margin-bottom: 20px;
}

#sbox12 {
	height: 30px;
	padding: 0 10px;
	position: absolute;
	left: 100;
	top: 170;
	border-radius: 2px;
	outline: 0;
	background: #eee;
}

#sbtn12 {
	height: 50px;
	position: absolute;
	left: 255px;
	/*アイコン左右の位置調整*/
	top: 0;
	background: none;
	color: #666;
	border: none;
	font-size: 20px;
	/*アイコンサイズ*/
}

#sbtn5:hover {
	color: #7fbfff;
}


#form13 {
	position: relative;
	max-width: 300px;
	margin-bottom: 20px;
}

#sbox13 {
	height: 30px;
	padding: 0 10px;
	position: absolute;
	left: 100;
	top: 230;
	border-radius: 2px;
	outline: 0;
	background: #eee;
}

#sbtn13 {
	height: 50px;
	position: absolute;
	left: 255px;
	/*アイコン左右の位置調整*/
	top: 0;
	background: none;
	color: #666;
	border: none;
	font-size: 20px;
	/*アイコンサイズ*/
}

#sbtn5:hover {
	color: #7fbfff;
}




#form14 {
	position: relative;
	max-width: 300px;
	margin-bottom: 20px;
}

#sbox14 {
	height: 30px;
	padding: 0 10px;
	position: absolute;
	left: 330;
	top: 50;
	border-radius: 2px;
	outline: 0;
	background: #eee;
}

#sbtn14 {
	height: 50px;
	position: absolute;
	left: 255px;
	/*アイコン左右の位置調整*/
	top: 0;
	background: none;
	color: #666;
	border: none;
	font-size: 20px;
	/*アイコンサイズ*/
}

#sbtn5:hover {
	color: #7fbfff;
}

#form15 {
	position: relative;
	max-width: 300px;
	margin-bottom: 20px;
}

#sbox15 {
	height: 30px;
	padding: 0 10px;
	position: absolute;
	left: 330;
	top: 110;
	border-radius: 2px;
	outline: 0;
	background: #eee;
}

#sbtn15 {
	height: 50px;
	position: absolute;
	left: 255px;
	/*アイコン左右の位置調整*/
	top: 0;
	background: none;
	color: #666;
	border: none;
	font-size: 20px;
	/*アイコンサイズ*/
}

#sbtn5:hover {
	color: #7fbfff;
}


#form16 {
	position: relative;
	max-width: 300px;
	margin-bottom: 20px;
}

#sbox16 {
	height: 30px;
	padding: 0 10px;
	position: absolute;
	left: 330;
	top: 170;
	border-radius: 2px;
	outline: 0;
	background: #eee;
}

#sbtn16 {
	height: 50px;
	position: absolute;
	left: 255px;
	/*アイコン左右の位置調整*/
	top: 0;
	background: none;
	color: #666;
	border: none;
	font-size: 20px;
	/*アイコンサイズ*/
}

#sbtn5:hover {
	color: #7fbfff;
}

#form17 {
	position: relative;
	max-width: 300px;
	margin-bottom: 20px;
}

#sbox17 {
	height: 30px;
	padding: 0 10px;
	position: absolute;
	left: 330;
	top: 230;
	border-radius: 2px;
	outline: 0;
	background: #eee;
}

#sbtn17 {
	height: 50px;
	position: absolute;
	left: 255px;
	/*アイコン左右の位置調整*/
	top: 0;
	background: none;
	color: #666;
	border: none;
	font-size: 20px;
	/*アイコンサイズ*/
}

#sbtn5:hover {
	color: #7fbfff;
}
