html, body {
    overflow: hidden;
}

h1{
    font-size: 300%;
}

.home_link {
    font-size: 20px;
}

hr {
    padding: 20px 0;
    border: none;
}

.hr1 {
    border-top: 5px solid rgb(252, 153, 60);
}